<!-- templates/fragments/sidebar.html -->
<nav class="pc-sidebar" th:fragment="sidebar(usuario)">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="/dashboard" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->
        <span style="font-size: 20px; font-weight: bold">TECNISERVICIOS</span>
        <span class="badge bg-light-success rounded-pill ms-2 theme-version">v0.6.1</span>
      </a>
    </div>
    <div class="navbar-content">
      <div class="card pc-user-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="/assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar wid-45 rounded-circle" />
            </div>
            <div class="flex-grow-1 ms-3 me-2">
              <h6 class="mb-0"
                th:text="${usuario != null ? usuario.persona.nombres + ' ' + usuario.persona.apellidos : 'Invitado'}">
              </h6>

              <small
                th:text="${usuario != null and usuario.roles != null and !usuario.roles.isEmpty() ? usuario.roles[0].nombre : 'Sin rol'}"></small>
            </div>
            <a class="btn btn-icon btn-link-secondary avtar" data-bs-toggle="collapse" href="#pc_sidebar_userlink">
              <svg class="pc-icon">
                <use xlink:href="#custom-sort-outline"></use>
              </svg>
            </a>
          </div>
          <div class="collapse pc-user-links" id="pc_sidebar_userlink">
            <div class="pt-3">
              <a href="#!">
                <i class="ti ti-user"></i>
                <span data-i18n="Mi cuenta">Mi cuenta</span>
              </a>
              <a href="/auth/logout">
                <i class="ti ti-power"></i>
                <span data-i18n="Cerrar sesion">Cerrar sesion</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="pc-navbar">
        <li class="pc-item pc-caption" th:hidden="${hideNavegacion ?: true}">
          <label data-i18n="Navegación">Navegación</label>
        </li>
        <li class="pc-item pc-hasmenu" th:hidden="${hideNavegacion ?: true}">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon">
                <use xlink:href="#custom-status-up"></use>
              </svg>
            </span>
            <span class="pc-mtext" data-i18n="Dashboard">Dashboard</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
            <span class="pc-badge">3</span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="/dashboard" data-i18n="General">General</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/navegacion/analisis" data-i18n="Analisis">Analisis</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/navegacion/finanzas" data-i18n="Finansas">Finanzas</a>
            </li>
          </ul>
        </li>
        <!-- VENTAS -->
        <li class="pc-item pc-caption" th:hidden="${hideVentas ?: true}">
          <label data-i18n="Ventas">Gestion de ventas</label>
          <svg class="pc-icon">
            <use xlink:href="#custom-bill"></use>
          </svg>
        </li>

        <li class="pc-item pc-hasmenu" th:hidden="${hideVentas ?: true}">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon">
                <use xlink:href="#custom-shopping-bag"></use>
              </svg>
            </span>
            <span class="pc-mtext" data-i18n="Ventas">Ventas</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ventas/caja-chica" data-i18n="Caja chica">Caja chica</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ventas/venta-normal" data-i18n="Venta">Venta</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ventas/venta-pos" data-i18n="Venta POS">Venta POS</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ventas/ventas-online" data-i18n="Ventas Online">Ventas Online</a>
            </li>
          </ul>
        </li>

        <!-- Logística -->
        <li class="pc-item pc-caption" th:hidden="${hideLogistica ?: true}">
          <label data-i18n="Logistica">Logística</label>
          <svg class="pc-icon">
            <use xlink:href="#custom-box-1"></use>
          </svg>
        </li>
        <li class="pc-item pc-hasmenu" th:hidden="${hideLogistica ?: true}">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon">
                <use xlink:href="#custom-box-1"></use>
              </svg>
            </span>
            <span class="pc-mtext" data-i18n="Almacen">Almacen</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/logistica/productos" data-i18n="Productos">Productos</a>
            </li>
            <li class="pc-item" hidden>
              <a class="pc-link" href="/dashboard/logistica/productos-online" data-i18n="Productos Online">Productos
                Online</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/logistica/marcas" data-i18n="Marcas">Marcas</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/logistica/categorias" data-i18n="Categorías">Categorías</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/logistica/pedidos" data-i18n="Pedidos">Pedidos</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/logistica/proveedores" data-i18n="Proveedores">Proveedores</a>
            </li>
          </ul>
        </li>
        <!--.. REPORTES -->
        <li class="pc-item pc-caption" th:hidden="${hideReportes ?: true}">
          <label data-i18n="Reportes">Reportes</label>
          <svg class="pc-icon">
            <use xlink:href="#custom-presentation-chart"></use>
          </svg>
        </li>
        <li class="pc-item pc-hasmenu" th:hidden="${hideReportes ?: true}">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon">
                <use xlink:href="#custom-graph"></use>
              </svg>
            </span>
            <span class="pc-mtext" data-i18n="Reportes">Reportes</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/mov-cod-caja" data-i18n="Mov. por código de caja">Mov. por
                código de caja</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/mov-cod-producto-servicio"
                data-i18n="Mov. por código de producto/servicio">Mov. por código de producto/servicio</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/resu-cod-producto-servicio"
                data-i18n="Resumen por código de producto/servicio">Resumen por código de producto/servicio</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/plani-ventas" data-i18n="Planilla de ventas">Planilla de
                ventas</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/kardex" data-i18n="Kardex">Kardex</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/ventas-colab" data-i18n="Ventas por colaboradores">Ventas por
                colaboradores</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/esta-credito-indi"
                data-i18n="Estado crédito individual">Estado crédito individual</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/esta-cuenta-cobrar"
                data-i18n="Estado cuentas por cobrar">Estado cuentas por cobrar</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/comprobantes-pendientes"
                data-i18n="Comprobantes pendientes de cobro">Comprobantes pendientes de cobro</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/mov-ventas-marca" data-i18n="Mov. de ventas por marca">Mov.
                de ventas por marca</a>
            </li>

            <li class="pc-item">
              <a class="pc-link" href="/dashboard/reportes/cuentas-cobrar" data-i18n="Cuentas por cobrar">Cuentas por
                cobrar (consolidado)</a>
            </li>
          </ul>
        </li>

        <!-- CONFIGURACIÓN -->
        <li class="pc-item pc-caption" th:hidden="${hideAjustes ?: true}">
          <label data-i18n="Ajustes">Ajustes</label>
          <svg class="pc-icon">
            <use xlink:href="#custom-setting-2"></use>
          </svg>
        </li>
        <li class="pc-item pc-hasmenu" th:hidden="${hideAjustes ?: true}">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon">
                <use xlink:href="#custom-setting-2"></use>
              </svg>
            </span>
            <span class="pc-mtext" data-i18n="Configuracion">Configuración</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ajustes/empresa" data-i18n="Empresa">Empresa</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ajustes/usuarios" data-i18n="Usuarios">Usuarios</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ajustes/clientes" data-i18n="Clientes">Clientes</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="/dashboard/ajustes/roles" data-i18n="Roles">Roles</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>