<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="tienda/framer/head :: head(${pageTitle})"></head>

  <body>
    <div class="site">
      <div th:replace="tienda/framer/header :: siteHeaderMobile"></div>
      <div th:replace="tienda/framer/header :: siteHeader"></div>

      <div class="site__body" th:if="${producto != null}">
        <div class="block-header block-header--has-breadcrumb">
          <div class="container">
            <div class="block-header__body">
              <nav
                class="breadcrumb block-header__breadcrumb"
                aria-label="breadcrumb"
              >
                <ol class="breadcrumb__list">
                  <li
                    class="breadcrumb__spaceship-safe-area"
                    role="presentation"
                  ></li>
                  <li
                    class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first"
                  >
                    <a href="index.html" class="breadcrumb__item-link">Home</a>
                  </li>
                  <li class="breadcrumb__item breadcrumb__item--parent">
                    <a href="#" class="breadcrumb__item-link">Producto</a>
                  </li>
                  <li
                    class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last"
                    aria-current="page"
                  >
                    <span class="breadcrumb__item-link">Nombre producto</span>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="block-split">
          <div class="container">
            <div class="block-split__row row no-gutters justify-content-center">
              <div class="block-split__item block-split__item-content col-auto">
                <div class="product product--layout--full">
                  <div class="product__body">
                    <div class="product__card product__card--one"></div>
                    <div class="product__card product__card--two"></div>
                    <div
                      class="product-gallery product-gallery--layout--product-full product__gallery"
                      data-layout="product-full"
                    >
                      <!-- Imagen principal -->
                      <div class="product-gallery__featured">
                        <button type="button" class="product-gallery__zoom">
                          <svg width="24" height="24">
                            <path
                              d="M15,18c-2,0-3.8-0.6-5.2-1.7c-1,1.3-2.1,2.8-3.5,4.6c-2.2,2.8-3.4,1.9-3.4,1.9s-0.6-0.3-1.1-0.7
                                          c-0.4-0.4-0.7-1-0.7-1s-0.9-1.2,1.9-3.3c1.8-1.4,3.3-2.5,4.6-3.5C6.6,12.8,6,11,6,9c0-5,4-9,9-9s9,4,9,9S20,18,15,18z
                                          M15,2 c-3.9,0-7,3.1-7,7s3.1,7,7,7s7-3.1,7-7S18.9,2,15,2z M16,13h-2v-3h-3V8h3V5h2v3h3v2h-3V13z"
                            />
                          </svg>
                        </button>
                        <div class="owl-carousel">
                          <a
                            th:each="img : ${producto.imagenesList}"
                            th:href="@{'/uploads/productos/' + ${img}}"
                            class="image image--type--product"
                            target="_blank"
                            data-width="700"
                            data-height="700"
                          >
                            <div class="image__body">
                              <img
                                th:src="@{'/uploads/productos/' + ${img}}"
                                class="image__tag"
                                th:alt="${producto.nombre}"
                              />
                            </div>
                          </a>
                        </div>
                      </div>
                      <!-- Miniaturas -->
                      <div class="product-gallery__thumbnails">
                        <div class="owl-carousel">
                          <div
                            th:each="img : ${producto.imagenesList}"
                            class="product-gallery__thumbnails-item image image--type--product"
                          >
                            <div class="image__body">
                              <img
                                th:src="@{'/uploads/productos/' + ${img}}"
                                class="image__tag"
                                th:alt="${producto.nombre}"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product__header">
                      <h1 class="product__title" th:text="${producto.nombre}">
                        Nombre producto
                      </h1>
                    </div>
                    <div class="product__main">
                      <div
                        class="product__excerpt"
                        th:text="${producto.descripcion}"
                      >
                        descripcion
                      </div>
                    </div>
                    <div class="product__info">
                      <div class="product__info-card">
                        <div class="product__info-body">
                          <div class="product__badge tag-badge tag-badge--sale">
                            Venta
                          </div>
                          <div class="product__prices-stock">
                            <div
                              class="product__price product__price--current d-flex"
                            >
                              S/.
                              <div
                                th:text="${producto.precioOnline != null ? producto.precioOnline : producto.precio}"
                              >
                                S/. 00.00
                              </div>
                            </div>
                            <div
                              class="status-badge status-badge--style--success product__stock status-badge--has-text"
                            >
                              <div class="status-badge__body">
                                <div class="status-badge__text">En stock</div>
                                <div
                                  class="status-badge__tooltip"
                                  tabindex="0"
                                  data-toggle="tooltip"
                                  title="In&#x20;Stock"
                                ></div>
                              </div>
                            </div>
                          </div>
                          <div class="product__meta">
                            <table>
                              <tr>
                                <th>SKU</th>
                                <td th:text="${producto.codigo}">COD-0000</td>
                              </tr>
                              <tr>
                                <th>Marca</th>
                                <td>
                                  <a
                                    href="#"
                                    th:text="${producto.marca != null ? producto.marca.nombre : 'Sin marca'}"
                                  >
                                    Marca
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="product__actions">
                          <div
                            class="product__actions-item product__actions-item--quantity"
                          >
                            <div class="input-number">
                              <input
                                class="input-number__input form-control form-control-lg"
                                type="number"
                                min="1"
                                value="1"
                              />
                              <div class="input-number__add"></div>
                              <div class="input-number__sub"></div>
                            </div>
                          </div>
                          <div
                            class="product__actions-item product__actions-item--addtocart"
                          >
                            <button
                              type="button"
                              class="btn btn-primary btn-lg btn-block"
                              th:attr="data-id=${producto.idProducto},
                                      data-nombre=${producto.nombre},
                                      data-precio=${producto.precioOnline != null ? producto.precioOnline : producto.precio},
                                      data-imagen=${#lists.isEmpty(producto.imagenesList) ? '/assets_shop/images/default-product.png' : '/uploads/productos/' + producto.imagenesList[0]}"
                            >
                              Comprar
                            </button>
                          </div>
                          <div class="product__actions-divider"></div>
                          <style>
                            .product-card__action--wishlist--active svg path {
                              fill: red;
                            }
                          </style>

                          <button
                            class="product__actions-item product__actions-item--wishlist product-card__action product-card__action--wishlist"
                            type="button"
                            th:classappend="${esFavorito} ? ' product-card__action--wishlist--active'"
                            th:attr="data-id=${producto.idProducto},
             data-favorito=${esFavorito}"
                          >
                            <svg width="16" height="16">
                              <path
                                d="M13.9,8.4l-5.4,5.4c-0.3,0.3-0.7,0.3-1,0L2.1,8.4c-1.5-1.5-1.5-3.8,0-5.3C2.8,2.4,3.8,2,4.8,2s1.9,0.4,2.6,1.1L8,3.7
l0.6-0.6C9.3,2.4,10.3,2,11.3,2c1,0,1.9,0.4,2.6,1.1C15.4,4.6,15.4,6.9,13.9,8.4z"
                              />
                            </svg>
                            <span
                              th:text="${esFavorito} ? 'Quitar de favoritos' : 'Añadir a favoritos'"
                            >
                              Añadir a favoritos
                            </span>
                          </button>
                        </div>
                        <div class="product__tags-and-share-links" hidden>
                          <div class="product__tags tags tags--sm">
                            <div class="tags__list">
                              <a href="#">Brake Kit</a> <a href="#">Brandix</a>
                              <a href="#">Filter</a> <a href="#">Bumper</a>
                              <a href="#">Transmission</a> <a href="#">Hood</a>
                            </div>
                          </div>
                          <div class="product__share-links share-links">
                            <ul class="share-links__list">
                              <li
                                class="share-links__item share-links__item--type--like"
                              >
                                <a href="#">Like</a>
                              </li>
                              <li
                                class="share-links__item share-links__item--type--tweet"
                              >
                                <a href="#">Tweet</a>
                              </li>
                              <li
                                class="share-links__item share-links__item--type--pin"
                              >
                                <a href="#">Pin It</a>
                              </li>
                              <li
                                class="share-links__item share-links__item--type--counter"
                              >
                                <a href="#">4K</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block-space block-space--layout--divider-nl"></div>
                <div class="block block-products-carousel" data-layout="grid-5">
                  <div class="container">
                    <div class="section-header">
                      <div class="section-header__body">
                        <h2 class="section-header__title">Mas productos</h2>
                        <div class="section-header__spring"></div>
                        <div class="section-header__arrows">
                          <div
                            class="arrow section-header__arrow section-header__arrow--prev arrow--prev"
                          >
                            <button class="arrow__button" type="button">
                              <svg width="7" height="11">
                                <path
                                  d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z"
                                />
                              </svg>
                            </button>
                          </div>
                          <div
                            class="arrow section-header__arrow section-header__arrow--next arrow--next"
                          >
                            <button class="arrow__button" type="button">
                              <svg width="7" height="11">
                                <path
                                  d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9
	C-0.1,9.8-0.1,10.4,0.3,10.7z"
                                />
                              </svg>
                            </button>
                          </div>
                        </div>
                        <div class="section-header__divider"></div>
                      </div>
                    </div>
                    <div class="block-products-carousel__carousel">
                      <div
                        class="block-products-carousel__carousel-loader"
                      ></div>
                      <div
                        class="block-products-carousel__column"
                        th:each="p : ${listaHome}"
                      >
                        <div class="block-products-carousel__cell">
                          <div
                            th:replace="~{tienda/framer/product-card :: productCard(${p})}"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-space block-space--layout--before-footer"></div>
      </div>
      <!-- site__body / end --><!-- site__footer -->

      <div th:replace="tienda/framer/footer :: siteFooter"></div>
    </div>
    <div th:replace="tienda/framer/scripts :: scripts"></div>
  </body>
</html>
