<div class="pc-container" th:replace="~{dashboard/layout :: layout(~{::content}, ${usuario}, 'Inicio', '/dashboard')}">
  <div class="pc-content" th:fragment="content">
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ sample-page ] start -->
      <div class="col-sm-8">
        <div class="ecom-wrapper">
          <div class="offcanvas-xxl offcanvas-start ecom-offcanvas" tabindex="-1" id="offcanvas_mail_filter">
            <div class="offcanvas-body p-0 sticky-xxl-top">
              <div id="ecom-filter" class=" collapse collapse-horizontal">
                <!---add class: show | view panel filters -->
                <div class="ecom-filter">
                  <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5>Filtros</h5>
                      <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default" data-bs-dismiss="offcanvas"
                        data-bs-target="#offcanvas_mail_filter">
                        <i class="ti ti-x f-20"></i>
                      </a>
                    </div>
                    <div class="scroll-block">
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item px-0 py-2">
                            <a class="btn border-0 px-0 text-start w-100" data-bs-toggle="collapse"
                              href="#fistercollapse2">
                              <div class="float-end"><i class="ti ti-chevron-down"></i></div>
                              Categorías
                            </a>
                            <div class="collapse show" id="fistercollapse2">
                              <div class="py-3">
                                <div class="form-check my-2">
                                  <input class="form-check-input" type="checkbox" id="categoryfilter1"
                                    value="option1" />
                                  <label class="form-check-label" for="categoryfilter1">Todas</label>
                                </div>
                                <div class="form-check my-2">
                                  <input class="form-check-input" type="checkbox" id="categoryfilter2"
                                    value="option2" />
                                  <label class="form-check-label" for="categoryfilter2">Aceites de motor</label>
                                </div>
                                <div class="form-check my-2">
                                  <input class="form-check-input" type="checkbox" id="categoryfilter4"
                                    value="option1" />
                                  <label class="form-check-label" for="categoryfilter4">Grasas</label>
                                </div>
                                <div class="form-check my-2">
                                  <input class="form-check-input" type="checkbox" id="categoryfilter5"
                                    value="option2" />
                                  <label class="form-check-label" for="categoryfilter5">Refrigerantes</label>
                                </div>
                                <div class="form-check my-2">
                                  <input class="form-check-input" type="checkbox" id="categoryfilter6"
                                    value="option3" />
                                  <label class="form-check-label" for="categoryfilter6">Aditivos</label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- VISCOSIDAD (SAE) -->
                          <li class="list-group-item px-0 py-2">
                            <a class="btn border-0 px-0 text-start w-100" data-bs-toggle="collapse" href="#filter_sae">
                              <div class="float-end"><i class="ti ti-chevron-down"></i></div>
                              Viscosidad (SAE)
                            </a>
                            <div class="collapse show" id="filter_sae">
                              <div class="py-3">
                                <div class="row g-2">
                                  <div class="col-6">
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_0w20">
                                      <label class="form-check-label" for="sae_0w20">0W-20</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_5w20">
                                      <label class="form-check-label" for="sae_5w20">5W-20</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_5w30">
                                      <label class="form-check-label" for="sae_5w30">5W-30</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_10w30">
                                      <label class="form-check-label" for="sae_10w30">10W-30</label>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_10w40">
                                      <label class="form-check-label" for="sae_10w40">10W-40</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_15w40">
                                      <label class="form-check-label" for="sae_15w40">15W-40</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_20w50">
                                      <label class="form-check-label" for="sae_20w50">20W-50</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="sae_otras">
                                      <label class="form-check-label" for="sae_otras">Otras</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>

                          <!-- MARCA -->
                          <li class="list-group-item px-0 py-2">
                            <a class="btn border-0 px-0 text-start w-100" data-bs-toggle="collapse"
                              href="#filter_marca">
                              <div class="float-end"><i class="ti ti-chevron-down"></i></div>
                              Marca
                            </a>
                            <div class="collapse show" id="filter_marca">
                              <div class="py-3">

                                <div class="form-check my-1">
                                  <input class="form-check-input" type="checkbox" id="marca_shell">
                                  <label class="form-check-label" for="marca_shell">Shell</label>
                                </div>
                                <div class="form-check my-1">
                                  <input class="form-check-input" type="checkbox" id="marca_castrol">
                                  <label class="form-check-label" for="marca_castrol">Castrol</label>
                                </div>
                                <div class="form-check my-1">
                                  <input class="form-check-input" type="checkbox" id="marca_otra">
                                  <label class="form-check-label" for="marca_otra">Otras</label>
                                </div>
                              </div>
                            </div>
                          </li>

                          <!-- PRESENTACIÓN -->
                          <li class="list-group-item px-0 py-2">
                            <a class="btn border-0 px-0 text-start w-100" data-bs-toggle="collapse"
                              href="#filter_presentacion">
                              <div class="float-end"><i class="ti ti-chevron-down"></i></div>
                              Presentación
                            </a>
                            <div class="collapse show" id="filter_presentacion">
                              <div class="py-3">
                                <div class="row g-2">
                                  <div class="col-6">
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="pres_1l">
                                      <label class="form-check-label" for="pres_1l">1 L</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="pres_4l">
                                      <label class="form-check-label" for="pres_4l">4 L</label>
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="pres_20l">
                                      <label class="form-check-label" for="pres_20l">20 L</label>
                                    </div>
                                    <div class="form-check my-1">
                                      <input class="form-check-input" type="checkbox" id="pres_208l">
                                      <label class="form-check-label" for="pres_208l">208 L</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item px-0 py-2">
                            <a href="#" class="btn btn-light-danger w-100">Clear All</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ecom-content">
            <div class="card">
              <div class="card-body p-3">
                <div class="d-sm-flex align-items-center">
                  <ul class="list-inline me-auto my-1">
                    <li class="list-inline-item">
                      <div class="form-search">
                        <i class="ti ti-search"></i>
                        <input type="search" class="form-control" placeholder="Buscar productos (ej. 5W-30, ACEITE)" />
                      </div>
                    </li>
                  </ul>
                  <ul class="list-inline ms-auto my-1">
                    <li class="list-inline-item">
                      <select class="form-select">
                        <option>Precio: de mayor a menor</option>
                        <option>Precio: de menor a mayor</option>
                        <option>Más vendidos</option>
                        <option>Descuento</option>
                        <option>Novedades</option>
                      </select>
                    </li>
                    <li class="list-inline-item align-bottom">
                      <a href="#" class="d-inline-flex d-xxl-none btn btn-link-secondary align-items-center"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvas_mail_filter">
                        <i class="ti ti-filter f-16"></i> Filtros
                      </a>
                      <a href="#" class="d-none d-xxl-inline-flex btn btn-link-secondary align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#ecom-filter">
                        <i class="ti ti-filter f-16"></i> Filtros
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-sm-6 col-xl-4">
                <div class="card product-card">
                  <div class="card-img-top">
                    <a href="../application/ecom_product-details.html">
                      <img src="/assets/images/productos/aceite-motor.png" alt="image" class="img-prod img-fluid" />
                    </a>
                    <div class="card-body position-absolute end-0 top-0">
                      <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input" />
                        <i data-feather="heart" class="prod-likes-icon"></i>
                      </div>
                    </div>
                    <div class="btn-prod-cart card-body position-absolute end-0 bottom-0">
                      <div class="btn btn-warning">
                        <svg class="pc-icon">
                          <use xlink:href="#custom-bag"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="../application/ecom_product-details.html">
                      <p class="prod-content mb-0 text-muted">Aceite de motor 5W-30 Sintético 4L</p>
                    </a>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <h4 class="mb-0 text-truncate"><b>s/. 399.00</b></h4>
                      <h4 class="mb-0 text-truncate"><span class="text-sm text-muted f-w-400">Stock: 15</span></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="card product-card">
                  <div class="card-img-top">
                    <a href="../application/ecom_product-details.html">
                      <img src="/assets/images/productos/aceite-motor.png" alt="image" class="img-prod img-fluid" />
                    </a>
                    <div class="card-body position-absolute end-0 top-0">
                      <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input" checked />
                        <i data-feather="heart" class="prod-likes-icon"></i>
                      </div>
                    </div>
                    <div class="btn-prod-cart card-body position-absolute end-0 bottom-0">
                      <div class="btn btn-warning">
                        <svg class="pc-icon">
                          <use xlink:href="#custom-bag"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="../application/ecom_product-details.html">
                      <p class="prod-content mb-0 text-muted">Aceite de motor 5W-30 Sintético 4L</p>
                    </a>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <h4 class="mb-0 text-truncate"><b>s/. 399.00</b></h4>
                      <h4 class="mb-0 text-truncate"><span class="text-sm text-muted f-w-400">Stock: 15</span></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="card product-card">
                  <div class="card-img-top">
                    <a href="../application/ecom_product-details.html">
                      <img src="/assets/images/productos/aceite-motor.png" alt="image" class="img-prod img-fluid" />
                    </a>
                    <div class="card-body position-absolute end-0 top-0">
                      <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input" />
                        <i data-feather="heart" class="prod-likes-icon"></i>
                      </div>
                    </div>
                    <div class="btn-prod-cart card-body position-absolute end-0 bottom-0">
                      <div class="btn btn-warning">
                        <svg class="pc-icon">
                          <use xlink:href="#custom-bag"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="../application/ecom_product-details.html">
                      <p class="prod-content mb-0 text-muted">Aceite de motor 5W-30 Sintético 4L</p>
                    </a>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <h4 class="mb-0 text-truncate"><b>s/. 399.00</b></h4>
                      <h4 class="mb-0 text-truncate"><span class="text-sm text-muted f-w-400">Stock: 15</span></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="card product-card">
                  <div class="card-img-top">
                    <a href="../application/ecom_product-details.html">
                      <img src="/assets/images/productos/aceite-motor.png" alt="image" class="img-prod img-fluid" />
                    </a>
                    <div class="card-body position-absolute end-0 top-0">
                      <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input" checked />
                        <i data-feather="heart" class="prod-likes-icon"></i>
                      </div>
                    </div>
                    <div class="btn-prod-cart card-body position-absolute end-0 bottom-0">
                      <div class="btn btn-warning">
                        <svg class="pc-icon">
                          <use xlink:href="#custom-bag"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="../application/ecom_product-details.html">
                      <p class="prod-content mb-0 text-muted">Aceite de motor 5W-30 Sintético 4L</p>
                    </a>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <h4 class="mb-0 text-truncate"><b>s/. 399.00</b></h4>
                      <h4 class="mb-0 text-truncate"><span class="text-sm text-muted f-w-400">Stock: 15</span></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="card product-card">
                  <div class="card-img-top">
                    <a href="../application/ecom_product-details.html">
                      <img src="/assets/images/productos/aceite-motor.png" alt="image" class="img-prod img-fluid" />
                    </a>
                    <div class="card-body position-absolute end-0 top-0">
                      <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input" checked />
                        <i data-feather="heart" class="prod-likes-icon"></i>
                      </div>
                    </div>
                    <div class="btn-prod-cart card-body position-absolute end-0 bottom-0">
                      <div class="btn btn-warning">
                        <svg class="pc-icon">
                          <use xlink:href="#custom-bag"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="../application/ecom_product-details.html">
                      <p class="prod-content mb-0 text-muted">Aceite de motor 5W-30 Sintético 4L</p>
                    </a>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <h4 class="mb-0 text-truncate"><b>s/. 399.00</b></h4>
                      <h4 class="mb-0 text-truncate"><span class="text-sm text-muted f-w-400">Stock: 15</span></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="card product-card">
                  <div class="card-img-top">
                    <a href="../application/ecom_product-details.html">
                      <img src="/assets/images/productos/aceite-motor.png" alt="image" class="img-prod img-fluid" />
                    </a>
                    <div class="card-body position-absolute end-0 top-0">
                      <div class="form-check prod-likes">
                        <input type="checkbox" class="form-check-input" />
                        <i data-feather="heart" class="prod-likes-icon"></i>
                      </div>
                    </div>
                    <div class="btn-prod-cart card-body position-absolute end-0 bottom-0">
                      <div class="btn btn-warning">
                        <svg class="pc-icon">
                          <use xlink:href="#custom-bag"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="../application/ecom_product-details.html">
                      <p class="prod-content mb-0 text-muted">Aceite de motor 5W-30 Sintético 4L</p>
                    </a>
                    <div class="d-flex align-items-center justify-content-between mt-2">
                      <h4 class="mb-0 text-truncate"><b>s/. 399.00</b></h4>
                      <h4 class="mb-0 text-truncate"><span class="text-sm text-muted f-w-400">Stock: 15</span></h4>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- [ sample-page ] end -->
      <!-- [ sample-cart ] start -->
      <div class="col-sm-4">

        <div class="card">
          <div class="card-body p-3">
            <div class="d-sm-flex align-items-center">
              <ul class="list-inline me-auto my-1">
                <li class="list-inline-item">
                  <div>
                    <h5>Carrito</h5>
                  </div>

                </li>
              </ul>
              <ul class="list-inline ms-auto my-1">
                <div class="form-search">
                  <i class="ti ti-search"></i>
                  <input type="search" class="form-control" placeholder="Buscar Cliente">
                </div>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content">
          <div class="tab-pane active show" id="ecomtab-1" role="tabpanel" aria-labelledby="ecomtab-tab-1">
            <div class="row d-flex flex-column">
              <div class="col-xl-12">
                <div class="card">


                  <div class="card-body p-0 table-body">
                    <div class="table-responsive">
                      <table class="table mb-0" id="pc-dt-simple">
                        <thead>
                          <tr>
                            <th style="border-top-left-radius: 10px;">Producto</th>
                            <th class="text-center">Cantidad</th>
                            <th style="border-top-right-radius: 10px;" class="text-end"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-start">
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-3">
                                  <h5 class="mb-1 text-truncate">Aceite de motor 5W-30...</h5>
                                  <span class="text-sm text-muted">s/. 10.00 x2 = s/. 20.00</span>
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="btn-group btn-group-sm mb-2 border" role="group">
                                <button type="button" onclick="decreaseValue('number')"
                                  class="btn btn-link-secondary"><i class="ti ti-minus"></i></button>
                                <input class="wid-35 text-center border-0 m-0 form-control rounded-0 shadow-none"
                                  type="text" id="number" value="2">
                                <button type="button" onclick="increaseValue('number')"
                                  class="btn btn-link-secondary"><i class="ti ti-plus"></i></button>
                              </div>
                            </td>
                            <td class="text-end">
                              <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default">
                                <i class="ti ti-trash f-18"></i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-3">
                                  <h5 class="mb-1 text-truncate">Aceite de motor 5W-30...</h5>
                                  <span class="text-sm text-muted">s/. 10.00 x2 = s/. 20.00</span>
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="btn-group btn-group-sm mb-2 border" role="group">
                                <button type="button" onclick="decreaseValue('number')"
                                  class="btn btn-link-secondary"><i class="ti ti-minus"></i></button>
                                <input class="wid-35 text-center border-0 m-0 form-control rounded-0 shadow-none"
                                  type="text" id="number" value="2">
                                <button type="button" onclick="increaseValue('number')"
                                  class="btn btn-link-secondary"><i class="ti ti-plus"></i></button>
                              </div>
                            </td>
                            <td class="text-end">
                              <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default">
                                <i class="ti ti-trash f-18"></i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-3">
                                  <h5 class="mb-1 text-truncate">Aceite de motor 5W-30...</h5>
                                  <span class="text-sm text-muted">s/. 10.00 x2 = s/. 20.00</span>
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              <div class="btn-group btn-group-sm mb-2 border" role="group">
                                <button type="button" onclick="decreaseValue('number')"
                                  class="btn btn-link-secondary"><i class="ti ti-minus"></i></button>
                                <input class="wid-35 text-center border-0 m-0 form-control rounded-0 shadow-none"
                                  type="text" id="number" value="2">
                                <button type="button" onclick="increaseValue('number')"
                                  class="btn btn-link-secondary"><i class="ti ti-plus"></i></button>
                              </div>
                            </td>
                            <td class="text-end">
                              <a href="#" class="avtar avtar-s btn-link-danger btn-pc-default">
                                <i class="ti ti-trash f-18"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body py-2">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0"
                        style="align-items: center;display: flex;flex-direction: row-reverse;justify-content: space-between;">
                        <div class="float-end">
                          <div class="input-group ">
                            <button type="button" class="btn btn-outline-secondary">S/.</button>
                            <button type="button"
                              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" style="">
                              <li><a class="dropdown-item" href="#">S/. - Monto</a></li>
                              <li><a class="dropdown-item" href="#">%. - Porcentaje</a></li>
                            </ul>
                            <input type="text" class="form-control"
                              aria-label="Text input with segmented dropdown button">
                          </div>
                        </div>
                        <h5 class="mb-0 d-inline-block">Descuento</h5>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body py-2">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item px-0">
                        <div class="float-end">
                          <h5 class="mb-0">$300.00</h5>
                        </div>
                        <h5 class="mb-0 d-inline-block">Total</h5>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="d-grid mb-3">
                  <button class="btn btn-primary">Place an Order</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- [ sample-cart ] end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>