<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="tienda/framer/head :: head(${pageTitle})"></head>

<body>
    <div class="site">
        <div th:replace="tienda/framer/header :: siteHeaderMobile"></div>
        <div th:replace="tienda/framer/header :: siteHeader"></div>
        <div class="site__body container my-4">
            <h1>Detalle de compra</h1>
            <p>ID compra: <span th:text="${idCompra}">1</span></p>
            <p>Aquí luego mostrarás lista de productos, totales, estado, etc.</p>
        </div>
        <div th:replace="tienda/framer/footer :: siteFooter"></div>
    </div>
    <div th:replace="tienda/framer/scripts :: scripts"></div>
</body>

</html>