<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="scripts">

    <script src="/assets_shop/vendor/jquery/jquery.min.js"></script>
    <script src="/assets_shop/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets_shop/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="/assets_shop/vendor/nouislider/nouislider.min.js"></script>
    <script src="/assets_shop/vendor/photoswipe/photoswipe.min.js"></script>
    <script src="/assets_shop/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="/assets_shop/vendor/select2/js/select2.min.js"></script>

    <script src="/assets_shop/js/number.js"></script>
    <script src="/assets_shop/js/main.js"></script>

    <script src="/assets_shop/js/cart.js"></script>

</body>

</html>